  <div class="w-full lg:w-7/12 p-5 cstm-bg-sand">
    <h3 class="pt-4 text-2xl text-center font-medi">Créer votre compte</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "px-8 pt-6 pb-1 mb-4 rounded cstm-bg-sand" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4 md:flex md:justify-between">
        <div class="flex-grow md:mr-2 md:mb-0">
          <%= f.label :first_name, "Prénom", class: "block mb-2 text-sm font-bold text-gray-700" %>
          <%= f.text_field :first_name, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Prénom", required: true %>
        </div>
        <div class="flex-grow md:ml-2">
          <%= f.label :last_name, "Nom", class: "block mb-2 text-sm font-bold text-gray-700" %>
          <%= f.text_field :last_name, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Nom", required: true %>
        </div>
      </div>

      <div class="mb-4">
        <%= f.label :phone, "Numéro de téléphone", class: "block mb-2 text-sm font-bold text-gray-700" %>
        <%= f.telephone_field :phone_number, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Numéro de téléphone", required: true %>
      </div>

      <div class="mb-4">
        <%= f.label :nickname, "Pseudonyme", class: "block mb-2 text-sm font-bold text-gray-700" %>
        <%= f.text_field :nickname, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Pseudonyme", required: true %>
      </div>

      <div class="mb-4">
        <%= f.label :age, "Age", class: "block mb-2 text-sm font-bold text-gray-700" %>
        <%= f.number_field :age, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Age", required: true %>
      </div>

      <div class="mb-4">
        <%= f.label :email, "Adresse e-mail", class: "block mb-2 text-sm font-bold text-gray-700" %>
        <%= f.email_field :email, class: "w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Adresse e-mail", required: true %>
      </div>

      <div class="mb-4">
        <%= f.label :password, "Mot de passe", class: "block mb-2 text-sm font-bold text-gray-700" %>
        <%= f.password_field :password, class: "w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Mot de passe", required: true %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirmer le mot de passe", class: "block mb-2 text-sm font-bold text-gray-700" %>
        <%= f.password_field :password_confirmation, class: "w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border-orange-300 rounded shadow appearance-none focus:outline-none focus:shadow-outline", placeholder: "Confirmer le mot de passe", required: true %>
      </div>

      <div class="text-center">
          <fieldset class="pb-1">
        <input checked id="checkbox-1" type="checkbox" value="" class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
        <label for="checkbox-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">J'accepte les <a href="#" class="text-orange-600 hover:underline dark:text-orange-500">conditions d'utilisation</a>.</label>
          </fieldset>

      <div class="mt-8 px-1 container mx-auto flex justify-center items-center relative inline-block">
        <%= button_tag(type: 'submit', class: "relative inline-block px-4 py-2 font-medium group") do %>
          <span class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 cstm-bg-dark group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
          <span class="absolute inset-0 w-full h-full bg-white border-dark group-hover:bg-valid"></span>
          <span class="relative text-black group-hover:text-white">S'enregistrer</span>
        <% end %>
      </div>

<br>




      <hr class="mb-6 border-t" />
      
    
        <%= render "devise/shared/links" %>
      </div>

    <% end %>
  </div>
</div>

