<% @report.comments.each_with_index do |comment, comment_index| %>

  <div class="border border-b-gray-400 rounded-3xl <%= comment_index.zero? ? 'pt-4' : '' %> comment <%= comment_index.even? ? 'cstm-bg-sand' : 'cstm-bg-sand-dark' %> p-2 pl-4">
    <p class="text-sm text-gray-600"><strong><%= comment.user.nickname %>:</strong></p>
    <p class="text-gray-800 mb-2"><%= comment.content %></p>
    <%= button_to "Répondre", root_path, class: "cstm-bg-action cstm-light font-bold py-2 px-4 rounded-xl mr-10" %>
  </div>

  <%if comment.replies.any?%>
    <%comment.replies.each_with_index do |reply, reply_index|%>
      <div class="border border-b-gray-400 ml-12 rounded-3xl <%= reply_index.zero? ? 'pt-4' : '' %> comment <%= reply_index.even? ? 'cstm-bg-sand' : 'cstm-bg-sand-dark' %> p-2 pl-4">
        <p class="text-sm text-gray-600"><strong><%= reply.nickname %>:</strong></p>
        <p class="text-gray-800 mb-2"><%= reply.content %></p>
      </div>
    <%end%>
  <%end%>

<% end %>