<body class="shadow-lg cstm-dark">
  <div class="w-full lg:w-7/12 cstm-bg-sand p-5 rounded">
    <h3 class="pt-4 text-2xl text-center ">Contactez-nous</h3>
    <%= form_with(model: @contact_message, url: contact_index_path, local: true, html: {class: "px-8 pt-6 pb-1 mb-4 rounded cstm-bg-sand"}) do |form| %>

      <div class="mb-4">
        <%= form.label :name, "Votre Nom", class: "block mb-2 text-sm font-bold" %>
        <%= form.text_field :name, class: "w-full px-3 py-2 mb-3 text-sm leading-tight rounded shadow appearance-none focus:border-sky-200", placeholder: "Nom", required: true, autofocus: true, autocomplete: "name" %>
      </div>

      <hr class="mb-4 border-t" style="border-color: orange;">

      <div class="mb-4">
        <%= form.label :email, "Votre Email", class: "block mb-2 text-sm font-bold" %>
        <%= form.text_field :email, class: "w-full px-3 py-2 mb-3 text-sm leading-tight rounded shadow appearance-none focus:border-sky-200", placeholder: "Email", required: true, autocomplete: "email" %>
      </div>

      <hr class="mb-4 border-t" style="border-color: orange;">

      <div class="mb-4">
        <%= form.label :message, "Votre Message", class: "block mb-2 text-sm font-bold" %>
        <%= form.text_area :message, class: "w-full px-3 py-2 mb-3 text-sm leading-tight rounded shadow appearance-none focus:border-sky-200", placeholder: "Message", required: true, autocomplete: "message" %>
      </div>

      <hr class="mb-4 border-t" style="border-color: orange;">

      <div class="mb-6 text-center">
        <%= form.submit "Envoyer le message", class: "mb-6 text-center relative inline-flex items-center justify-center p-2 px-6 py-1 overflow-hidden font-medium text-white transition-all duration-300 ease-out rounded-full shadow-md group bg-orange-600 hover:bg-orange-800" %>
      </div>

      <hr class="mb-6 border-t" style="border-color: orange;">
    <% end %>
  </div>
</body>
