<section class= "nav-color dark:bg-gray-900 rounded">
  <div class="flex flex-col items-center justify-center px-6 py-6">
    <%= link_to root_path, class: "flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" do %>
           <%= image_tag("logo.png", alt: "logo", class: "w-20 h-20 mr-2") %>

    <% end %>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Se connecter
        </h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
          <div>
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.email_field :email, class: "nav-color border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autofocus: true, autocomplete: "email" %>
          </div>

          <div>
            <%= f.label :mot_de_passe, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.password_field :password, class: "nav-color border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="flex items-start">
              <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded nav-item-color focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" %>
              <%= f.label :Se_souvenir_de_moi, class: "ml-3 text-sm text-gray-500 dark:text-gray-300" %>
            </div>
          <% end %>

          <%= f.submit "Se connecter", class: "w-full text-white bg-orange-400 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
        <% end %>
          <div class="container mx-auto mt-8 px-1 flex justify-center items-center">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</section>
