<!DOCTYPE html>
<html>
  <head>
    <title>MaVoirie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Ma Voirie est un site en ligne qui offre aux utilisateurs la possibilité de signaler facilement les problèmes de voirie qu'ils rencontrent dans leur commune. Le site vise à faciliter la communication entre les citoyens et les autorités locales responsables de l'entretien des routes, des trottoirs et des espaces publics.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="canonical" href="https://ma-voirie.herokuapp.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="top">
    <%= render 'layouts/banner' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
    <main class="container mx-auto mt-8 px-1 pb-10 flex justify-center items-center">
      <%= yield %>
    </main>
    <%= render 'layouts/footer'%>
  </body>

  <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
  <script src="https://kit.fontawesome.com/fc19c0866a.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js'></script>
  <script src="https://cdn.tailwindcss.com"></script>
</html>